## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_counts[application_counts <= cutoff_value].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification_counts = classification_counts[classification_counts > 1]
print(filtered_classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = classification_counts[classification_counts <= cutoff_value_classification].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(application_df, columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])

In [19]:
# Split our preprocessed data into our features and target arrays
features = dummy_data.drop('IS_SUCCESSFUL', axis=1)
target = dummy_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 3s 2ms/step - loss: 51231.6289 - accuracy: 0.4994
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 51932.0273 - accuracy: 0.5046
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 38172.2734 - accuracy: 0.5001
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 53312.1484 - accuracy: 0.5010
Epoch 5/100
858/858 [==============================] - 2s 3ms/step - loss: 34392.4531 - accuracy: 0.5040
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 7491.3081 - accuracy: 0.5025
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 24870.6094 - accuracy: 0.5010
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 43149.5898 - accuracy: 0.5053
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 17194.7891 - accuracy: 0.5064
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 13508.2383 - accuracy: 0.5347
Epoch 11/100
858/858 [==============================] - 2s 3ms/step - loss: 6945.8052 - accuracy: 0.5274
Epoch 12/100
858/858 [==============================] - 3s 3ms/step - loss: 10071.0781 - accuracy: 0.5103
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 5982.3218 - accuracy: 0.5066
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 2760.5422 - accuracy: 0.5072
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 1457.8104 - accuracy: 0.5188
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 207.8948 - accuracy: 0.5223
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 143.8118 - accuracy: 0.5278
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 19/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 23/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 27/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 34/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 49/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 50/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 55/100
858/858 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 56/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6912 - accuracy: 0.5315
Epoch 57/100
858/858 [==============================] - 3s 4ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 58/100
858/858 [==============================] - 5s 6ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 59/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 60/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 65/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 72/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 80/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 87/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 95/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.7353 - accuracy: 0.5841 - 598ms/epoch - 3ms/step
Loss: 0.7352777719497681, Accuracy: 0.5841107964515686

In [ ]:
# Export our model to HDF5 file
model_file_path = 'AlphabetSoupCharity.h5'
nn_model.save(model_file_path)