## Preprocessing

In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [57]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME','USE_CASE'])

In [58]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [59]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [60]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 1000
application_types_to_replace = application_counts[application_counts <= cutoff_value].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [62]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification_counts = classification_counts[classification_counts > 1]
print(filtered_classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [63]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = classification_counts[classification_counts <= cutoff_value_classification].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [64]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(application_df, columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','SPECIAL_CONSIDERATIONS','ORGANIZATION','INCOME_AMT'])

In [65]:
# Split our preprocessed data into our features and target arrays
features = dummy_data.drop('IS_SUCCESSFUL', axis=1)
target = dummy_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [66]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [67]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=35))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="PReLU"))

# Fourth hidden Layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 80)                2880

 dense_26 (Dense)            (None, 40)                3240

 dense_27 (Dense)            (None, 60)                2520

 dense_28 (Dense)            (None, 10)                610

 dense_29 (Dense)            (None, 1)                 11

=================================================================
Total params: 9,261
Trainable params: 9,261
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=80)

Epoch 1/80
858/858 [==============================] - 3s 2ms/step - loss: 39086.8359 - accuracy: 0.4893
Epoch 2/80
858/858 [==============================] - 3s 3ms/step - loss: 4663.0288 - accuracy: 0.4966
Epoch 3/80
858/858 [==============================] - 2s 2ms/step - loss: 1753.7878 - accuracy: 0.4981
Epoch 4/80
858/858 [==============================] - 2s 2ms/step - loss: 1878.4651 - accuracy: 0.5080
Epoch 5/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6929 - accuracy: 0.5320
Epoch 6/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 7/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 8/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 9/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 10/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 11/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 12/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 13/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 14/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 15/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 16/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 17/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 18/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 19/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 20/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 21/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 22/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 23/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 24/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 25/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 26/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 27/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 28/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 29/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 30/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 31/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 32/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 33/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 34/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 35/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 36/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 37/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 38/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 39/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 40/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 41/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 42/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 43/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 44/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 45/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 46/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 47/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 48/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 49/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 50/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 51/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 52/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 53/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 54/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 55/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 56/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 57/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 58/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 59/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 60/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 61/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 62/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 63/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 64/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 65/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 66/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 67/80
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 68/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 69/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 70/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 71/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 72/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 73/80
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 74/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 75/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 76/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 77/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 78/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 79/80
858/858 [==============================] - 3s 4ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 80/80
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320

In [70]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.6960 - accuracy: 0.5328 - 501ms/epoch - 2ms/step
Loss: 0.6960468292236328, Accuracy: 0.5327988266944885

In [71]:
# Export our model to HDF5 file
model_file_path = 'AlphabetSoupCharity_Optimization.h5'
nn_model.save(model_file_path)